.card-projects{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

.card-container-pr{
    height: 30vh;
    width: 60vh;
}

.card-item-img-pr{
    height: 20vh;
    width: 10vw;
    display: block;
    margin: auto;
}