.card-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.card-container{
    margin-bottom: -100px;
}

.card-item-h3{
    font-family: 'Segoe UI';
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.card-item-img{
    height: 35%;
    width: 100%;
    display: block;
    justify-content: center;
}

.card-item-p{
    font-family: 'Segoe UI';
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}