.card-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding-left: 50px;
    padding-right: 50px;
    height: 60vh;
    justify-content: center;
}

.card-container{
    
}

.card-item-h3{
    font-family: 'Segoe UI';
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.card-item-img{
    height: 25%;
    width: 90%;
    display: block;
    margin: auto;
}

.card-item-img-other{
    height: 30%;
    width: 80%;
    display: block;
    margin: auto;
}

.card-item-p{
    font-family: 'Segoe UI';
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}